@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  color: #3A3A3A;
  font-size: 16px;
  background-color: #E5E5E5;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper > div {
  background: #FFFFFF;
  box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 28px 32px;
  max-width: 750px;
}